<h1>Title <%= @post.title %></h1>
<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.content %>(<%= comment.created_at %>) by <%= comment.user.email %>
      <%= link_to 'edit', edit_post_comment_path(@post, comment) %>
      <%= button_to 'delete', post_comment_path(@post, comment), method: :delete %>
    </li>
  <% end %>
</ul>
<%= paginate @comments %>
<%= link_to 'Post List' ,posts_path %>